{{input type="text" value=idea placeholder="All suggestions are welcomed" size="50" enter='submit'}}
<button {{action 'submit'}}>Submit</button>

<ul>
  {{#each itemController="vote"}}
    <li>
      <a href="#" {{action 'up'}}>Up</a>
      <a href="#" {{action 'down'}}>Down</a>
      <a href="#" {{action 'remove'}}>Remove</a>
      {{title}} Votes {{votes}}
    </li>
  {{/each}}
</ul>
