<div class="input-group">
  {{input type="text" value=idea placeholder="All suggestions are welcomed" class="form-control" enter='submit'}}
  <div class="input-group-btn">
    <button {{action 'submit'}} type="button" class="btn btn-default" tabindex="-1">Submit</button>
  </div>
</div>

<ul class="list-group">
  {{#each itemController="vote"}}
    <li class="list-group-item">
      <span class="badge">{{votes}}</span>
      <span {{action 'up'}}     class="glyphicon glyphicon-arrow-up"></span>
      <span {{action 'down'}}   class="glyphicon glyphicon-arrow-down"></span>
      <span {{action 'remove'}} class="glyphicon glyphicon-minus"></span>
      <strong>{{title}}</strong>
    </li>
  {{/each}}
</ul>
